.container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.container > div,
.container svg {
    min-height: 100%;
}

.progressBar {
    transform: rotate(270deg) scaleY(-1);
}

.surface {
    stroke: var(--border-color-light);
}

.progress {
    stroke: var(--border-color-default);
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.3;
    word-break: break-word;
}